#main {
    min-height: 98.3vh;
    width: 100%;
    background-color: brown;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.card {
    width: 15rem;
    height: 10rem;
    border: darkblue 1px solid;
    background-color: cyan;
    margin-right: 5%;
    margin-left: 5%;
}